@tailwind base;
@tailwind components;
@tailwind utilities;

:root body {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
